/*********************BANNER************************/
.bannerInicio {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px;
    /* height: 60vh; */
  
}

#bannerHome {
    background-image: url(../images/plato11.jpg);
    background-size: cover;
    background-position: center;
}

#bannerNos {
    background-image: url(../images/nosotros2.jpg);
    background-size: cover;
    background-position: center;
}

#bannerMenu {
    background-image: url(../images/ingredientes2.jpg);
    background-size: cover;
    background-position: center;
}

#bannerSalon {
    background-image: url(../images/salon1.jpg);
    background-size: cover;
    background-position: center;
}

#bannerContacto {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
}


