/*****************FOOTER************************************/
.footerGral {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.footerGral__item {
    // width: ($ancho)/2;
    min-width: 250px;
    margin: 5px auto;
        p {
            margin: 0px;
        }
}


// .footerGral__item--horario {
//     text-transform: uppercase;
//     text-align: center;
// }

.footerGral__item--redes {
    width: 200px;
    max-height: 36px;
    margin: 15px auto;
    padding: 10px auto 10px auto;


    a {
        text-decoration: none;
    }
    
    img {
        width: 30px;
        height: 30px;
        margin: 0px 5px;
    }

    img:hover {
        transform: scale(1.5);
        filter: invert(100%);
    }
}





