.page404 {
    margin: 300px auto;
    display: flex;
    color: $color3;
    flex-wrap: nowrap;
    align-items: center;
    @include fondoContenedor;


    img {
        margin: 25px auto;
        height: auto;
    }
}


.page404__text {
    display: inline-block;
    padding: 50px;
    text-align: center;

    ul {
        text-align: left;
    }



    a {
        text-decoration: none;
        color: $color3;
    }
}

#logo404 {
    width: 50%;
}