/****************CONTACTO*********************/
.reservas {
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
}

.reservas__formulario {
    @include fondoContenedor();
    text-align: left;
    padding: 10px;
    // min-width: 350px;
    label {
        margin: 5px;
    }

}

.reservas__info {
    @include fondoContenedor();
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

    hr {
        height: 3px;  
        color: $color4;

    }

    .reservas__info-horarios {

        h4 {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        
    }
    
    .reservas__info-direccion {
        background-color: $color3;
        color:$color1;
        padding: 50px;
        border-radius: 0.25rem;
    }
}


